This dataset provides a comprehensive list of data science job postings sourced from Indeed. It includes details about job titles, companies, locations, salary ranges, short descriptions, and job links. The dataset is designed to help job seekers and researchers analyze current trends in the data science job market, understand salary expectations, and identify key hiring companies and locations.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Initial Data Exploration

In [2]:
import pandas as pd
import numpy as np

#Load data from a CSV file
df = pd.read_csv('../../Indeed-Data Science Jobs List 3.csv')

In [ ]:
# Display the first five rows of the Dataframe
print(df.head())

In [ ]:
#Removing the Position column since it was an index or a placeholder 
df = df.drop(columns=['Position'])

In [ ]:
#Viewing the full URLs in the job link column, by adjusting the display option in pandas
pd.set_option('display.max_colwidth', None)
print(df.head()) #Displaying the result

In [ ]:
#Get a concise summary of the DataFrame
print(df.info())

In [ ]:
# Generate descriptive statistics
print(df.describe())

# Include categorical data:
print(df.describe(include='all'))

# Numerical data only:
print(df.describe(include=[np.number]))

#Categorical data only:
print(df.describe(include=[object]))

In [ ]:
#Checking missing values

print(df.isnull().sum())#Count the number of missing values in each column

In [ ]:
#Checking unique values in a column

print(df['Job Title'].unique())#Display unique values in a specific column

In [ ]:
#Checking Value counts

print(df['Job Title'].value_counts())

Data Cleaning

In [3]:
#Handling Missing Values
#First Identifying missing values by printinng the number of missing values in each column
print(df.isnull().sum())

Position               0
Job Title              0
Company                0
Location               0
Salary               138
Short Description      0
Posted At            184
Job link               0
dtype: int64

Handling Strategies

In [4]:
#Removing rows or column that has missing data
#Drop rows with any missing values
df_clean = df.dropna()

#Drop columns with any missing values
df_clean = df.dropna(axis=1)

Impute Missing Values; 

- replace missing values with the mean, median or mode for numerical columns
  
- use the mode or a specific values for categorical columns

In [6]:
#First, checking the column type for the column that has missing values
print(df['Salary'].dtype)
print(df['Posted At'].dtype)

object
object

In [7]:
#Because both the column type is object meant that the column contains strings or mixed types 
#Converting 'Salary' column to Numeric
# Clean the "Salary" column by removing non-numeric characters and converting to numeric
df['Salary'] = df['Salary'].str.replace(r'[\$,]', '', regex=True).str.extract(r'(\d+)').astype(float)
print(df['Salary'].head())

0    120000.0
1         NaN
2         NaN
3         NaN
4    103409.0
Name: Salary, dtype: float64

In [11]:
# Fill missing values (NaN) with the mean
# ensuring the original DataFrame is being modified by assigning the 'fillna' back to 'df['Salary']'
df['Salary'] = df['Salary'].fillna(df['Salary'].mean()) 

# For categorical data, fill missing values with the most frequent value (mode)
# Ensuring the 'Posted At' column is directly modified in the original data frame
df['Posted At'] = df['Posted At'].fillna(df['Posted At'].mode()[0])

In [12]:
# Print the first few rows of the 'Salary' column to see the changes
print("Updated 'Salary' column:")
print(df['Salary'].head())

# Print the first few rows of the 'Posted At' column to see the changes
print("Updated 'Posted At' column:")
print(df['Posted At'].head())

Updated 'Salary' column:
0    120000.000000
1    111460.532258
2    111460.532258
3    111460.532258
4    103409.000000
Name: Salary, dtype: float64
Updated 'Posted At' column:
0    Employer\nActive 3 days ago
1    Employer\nActive 3 days ago
2    Employer\nActive 3 days ago
3    Employer\nActive 3 days ago
4    Employer\nActive 3 days ago
Name: Posted At, dtype: object

- The Salary column now holds numeric data as expected, and it seems to have worked correctly by filling the missing values with the column mean.
- The Posted At column has been filled with the most frequent entry, which seems to be the mode.

This last final part is to check for further details and checking any other 'NaN' values using 'df.isna90.sum()'

In [13]:
# Check for remaining NaN values in the DataFrame
print("Remaining NaN values in each column:")
print(df.isna().sum())

# Inspect the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

# Inspect the last 10 rows of the DataFrame
print("Last 10 rows of the DataFrame:")
print(df.tail(10))

Remaining NaN values in each column:
Position             0
Job Title            0
Company              0
Location             0
Salary               0
Short Description    0
Posted At            0
Job link             0
dtype: int64
First 10 rows of the DataFrame:
   Position                                          Job Title  \
0         1                                     Data Scientist
1         2  Senior Artificial Intelligence Researcher for ...
2         3                              Senior Data Scientist
3         4                                     Data Scientist
4         5                                     Data Scientist
5         6                                     Data Scientist
6         7                   Business Data Scientist/Engineer
7         8                                   Data Scientist I
8         9                                     Data Scientist
9        10                           Associate Data Scientist

                                          Company  \
0                                     Robert Half
1  Johns Hopkins Applied Physics Laboratory (APL)
2               Modern Technology Solutions, Inc.
3                        Twitch Interactive, Inc.
4               US Office of Personnel Management
5                                  MagicSchool AI
6                                           Apple
7                                    GM Financial
8                                Ropes & Gray LLP
9                                            UPMC

                              Location         Salary  \
0      Remote in Los Angeles, CA 90024  120000.000000
1                     Laurel, MD 20723  111460.532258
2                 Huntsville, AL 35895  111460.532258
3                          Seattle, WA  111460.532258
4                               Remote  103409.000000
5                   Remote in Colorado  111460.532258
6                           Austin, TX  111460.532258
7        Hybrid work in Fort Worth, TX  111460.532258
8      Hybrid work in Boston, MA 02199  125000.000000
9  Pittsburgh, PA 15219 \n(Bluff area)  111460.532258

                                   Short Description  \
0  The ideal candidate should be highly skilled i...
1  As a member of our research team, you will con...
2  Utilize machine learning techniques, algorithm...
3  Conduct ad-hoc analyses, build robust automate...
4  Develops and maintains analytics product proje...
5  Enable smarter business processes by utilizing...
6  You will work closely with multi-functional te...
7  The Data Scientist I is the subject matter exp...
8  You will work with lawyers, behavioral scienti...
9  Design, develop, and implement health care ana...

                     Posted At  \
0  Employer\nActive 3 days ago
1  Employer\nActive 3 days ago
2  Employer\nActive 3 days ago
3  Employer\nActive 3 days ago
4  Employer\nActive 3 days ago
5  Employer\nActive 3 days ago
6  Employer\nActive 3 days ago
7  Employer\nActive 3 days ago
8  Employer\nActive 3 days ago
9  Employer\nActive 3 days ago

                                            Job link
0  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
2  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
3  https://www.indeed.com/rc/clk?jk=4593a41913786...
4  https://www.indeed.com/rc/clk?jk=d393197b7bc42...
5  https://www.indeed.com/rc/clk?jk=258a205f5e303...
6  https://www.indeed.com/rc/clk?jk=563bac05a8878...
7  https://www.indeed.com/rc/clk?jk=85b9540e6b08e...
8  https://www.indeed.com/rc/clk?jk=fec3590ced9d6...
9  https://www.indeed.com/rc/clk?jk=f5de21340edf2...
Last 10 rows of the DataFrame:
     Position                                 Job Title  \
190       191                 Distinguished AI Engineer
191       192                            Data Scientist
192       193  Data Scientist for Enrollment Management
193       194              Data Scientist - Credit Risk
194       195                     Senior Data Scientist
195       196               Sr. Manager, Data Scientist
196       197          Senior Data Scientist (New York)
197       198                   Contract Data Scientist
198       199             Statistical Programmer ONSITE
199       200                            Data Scientist

                                Company  \
190                   Acadia Healthcare
191         SRS Distribution - McKinney
192  California Institute of Technology
193                     Associated Bank
194                         Xilis, Inc.
195                            McKesson
196                    The Voleon Group
197                Sarepta Therapeutics
198             Maxis Clinical Sciences
199                          Booz Allen

                                     Location         Salary  \
190        Franklin, TN 37067 \n(McEwen area)  111460.532258
191                        McKinney, TX 75070   84700.000000
192      Pasadena, CA 91125 \n(Pasadena area)  111460.532258
193                                 Wisconsin  111460.532258
194                                Durham, NC  111460.532258
195                Remote in Irving, TX 75039  111460.532258
196               Hybrid work in New York, NY  111460.532258
197                   Remote in Cambridge, MA  111460.532258
198  Jacksonville, FL 32256 \n(Deerwood area)  105000.000000
199                             Arlington, VA   96600.000000

                                     Short Description  \
190  Deep understanding of data structures, algorit...
191  Drive novel insights from large and complex da...
192  Design and conduct complex data analyses using...
193  Retirement savings including both 401(k) and P...
194  You will help lead the design and implementati...
195  Demonstrated ability to tackle problems across...
196  This policy is part of Voleon’s ongoing effort...
197  Ability to effectively communicate and work wi...
198  Provide statistical programming support for cl...
199  We are a cross-functional team of data scienti...

                       Posted At  \
190  Employer\nActive 3 days ago
191  Employer\nActive 3 days ago
192  Employer\nActive 3 days ago
193  Employer\nActive 3 days ago
194  Employer\nActive 3 days ago
195  Employer\nActive 3 days ago
196  Employer\nActive 3 days ago
197  Employer\nActive 3 days ago
198  Employer\nActive 3 days ago
199  Employer\nActive 3 days ago

                                              Job link
190  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
191  https://www.indeed.com/rc/clk?jk=f77e0aa534aab...
192  https://www.indeed.com/rc/clk?jk=d623d7bfa7c8a...
193  https://www.indeed.com/rc/clk?jk=10657d1693bae...
194  https://www.indeed.com/rc/clk?jk=b6f9af7e6f3c2...
195  https://www.indeed.com/rc/clk?jk=8444134138126...
196  https://www.indeed.com/rc/clk?jk=a76b33c6fed55...
197  https://www.indeed.com/rc/clk?jk=21ed00a315415...
198  https://www.indeed.com/rc/clk?jk=4a01247d47986...
199  https://www.indeed.com/rc/clk?jk=e9d6f6da84277...

In [14]:
import os

file_path = '../../Indeed-Data Science Jobs List 3.csv'
# Check if the file exists
if os.path.exists(file_path):
    print("File has been saved successfully!")
else:
    print("File does not exist.")

File has been saved successfully!